/* font-family: 'Roboto', sans-serif; */

/* Selector universal, se usa para resetear los estilos propios de cada navegador, de esta manera garantizamos que no
existan incompatibilidades de estilos  */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box; 
  }
  body {
    background: rgb(243,205,5);
    background: radial-gradient(circle, rgba(243,205,5,0.6671043417366946) 0%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="rgba(243,205,5,0.7)", endColorstr="#ffffff", GradientType=1);
    margin: 0; /* Para eliminar los márgenes predeterminados del body */
    padding: 0; /* Para eliminar el relleno predeterminado del body */
    font-family: 'Roboto', sans-serif; /* Establece una fuente de texto predeterminada */
  }
  
header {
    width: 100vw;
    height: 20vh;
    background: rgb(244,159,5);
    background: radial-gradient(circle, rgba(244,159,5,1) 0%, rgba(54,104,141,1) 100%);
}
#logoHeader{
    width: 220px;
    height: 200px;
}
.bodyForm{
    width: 100vw
}
form {
    border: 2px solid #428007; /* Agrega un borde de 2 píxeles sólido con el color #232611 */
    border-radius: 10px;
    padding: 20px; /* Agrega un relleno para dar espacio al contenido dentro del formulario */
    width: 580px;
  }

.btn.btn-primary {
    background-color: #46551A !important;
    border-color: #428007;
    color: white; /* Cambiar el color del texto a blanco para que sea legible en el nuevo fondo */
  }
.letrasFormulario{
    color: #46551A;
    font-size: 20px;
}
.btn.btn-primary:hover{
    background-color: #428007 !important;
}
/* Estilos para todos los campos de entrada en el formulario */
form input::placeholder {
    color: #428007;
    font-style: italic;
    
    /* Otros estilos según tus preferencias */
  }
  
#reseteoContrasena{
    color: #46551A;
    font-size: 20px;
}
#reseteoContrasena::hover{
    color:#428007;
    font-size: 20px;
}